#######################
# Scala test snippets #
#######################

# For dealing with scalatest stuff
snippet spec
	class ${1}Spec extends org.scalatest.FunSpec {
	}

snippet desc
	describe("${1}") {
	}

snippet it
	it("${1}") { pending }
